EXPO_PUBLIC_API_BASE_URL=https://your-app.up.railway.app
EXPO_PUBLIC_APP_NAME=TeqMD
EXPO_PUBLIC_APP_SLUG=techmd-native
EXPO_PUBLIC_APP_SCHEME=techmd
EXPO_PUBLIC_IOS_BUNDLE_ID=com.techmd.native
EXPO_PUBLIC_ANDROID_PACKAGE=com.techmd.native
EXPO_PUBLIC_APP_VERSION=1.0.0
IOS_BUILD_NUMBER=1
